[submodule "pure"]
	path = pure
	url = git@github.com:PurePelicanTheme/pure.git
[submodule "pelican-simplegrey"]
	path = pelican-simplegrey
	url = git@github.com:fle/pelican-simplegrey.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
